:root {
  --color-red: #d82d20;
  --color-black: #222222;
  --color-blue: #003eaa;
  --color-grey: #ededf0;
  --color-dark-green: #1b7b60;
  --color-light-green: #e0edec;
  --color-pink: #F26A66;
  --color-yellow: #EAAA00;
  --color-cool-grey: #8c92ac;
}
