.type-chip-wrapper {
  border-radius: 12px;
  height: 20px;
  padding: 2px 6px 2px 6px;
  display: flex;
  align-items: center;
  border: solid 3px transparent;
}

.type-chip-text {
  font-family: "DNT Nobel", sans-serif;
  font-size: 12px;
  color: white;
}

.type-chip-clickable {
  background-color: #222222;

  &:hover {
    border: var(--color-red) solid 3px;
    cursor: pointer;
  }

  &.selected {
    border: var(--color-red) solid 3px;
  }
}