.app {
  max-width: 650px;
  border: solid 1px;
  border-radius: 10px;
  margin: 100px auto auto;
  padding: 32px;
  background-color: white;
}

.app-filter-row {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0px 24px 0px;
}
